/* General styles */

/*body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}
*/

/* Exercise Image Selection */
.exercise-section{
    text-align: center;
    background-color: rgb(0, 0, 0); /* This makes the whole section black */
    padding: 30px 0; /* Adds spacing around the video */
}

.exercise-container{
    position: relative;
    width: 100%;
    max-width:fit-content; /* Adjust width */
    margin: 80px auto 0; /* Space below header */
    overflow: hidden;
    border-radius: 10px;
}

.exercise-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
}

.exercise-option {
    background-color: black;
    width: 150px;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.exercise-option:hover {
    transform: scale(1.1);
}

/* Grey Line */
hr {
    border: none;
    height: 2px;
    background: grey;
    margin: 0px 0;
}

/* Video Section */
.video-section {
    margin-top: 20px;
    text-align: center;
}

.video-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.video {
    width: 250px;
    height: 150px;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


.tips-section{
    background-color: rgb(0, 0, 0); /* This makes the whole section black */
    padding: 30px 0; /* Adds spacing around the video */
    height: 300px;
}

.tips-container{
    position: relative;
    width: 100%;
    max-width:max-content; /* Adjust width */
    overflow: hidden;
    border-radius: 10px;
}

.tips-content{
    text-align:left;
}